@import "@styles/mixin.scss";


.petCard
{
  width: 100%;
  height: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  &:hover
  {
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.3);
  }

}

.petCard__avatar
{
  width: 94%;
  height: 300px;
  margin: 10px auto;
  object-fit: cover;
  border-radius: 10px;

  @include respond-to(pad)
  {
    height: 400px;
  }

  @include respond-to(desktop)
  {
    width: 90%;
  }
}


.petCard__desc
{
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 8px;
}

.petCard__title
{
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.petCard__placeWrap
{
  align-items: stretch;
}

.petCard__placeIcon
{
  color: var(--primary-color);
  font-size: 26px;
}

.petCard__placeText
{
  font-size: 15px;
  color: gray
}

.petCard__detailWrap
{
  justify-content: space-between;
}

.petCard__remark
{
  font-size: 14px;
  color: gray;
  height: 20px;
}

.petCard__adoptButton
{
  padding: 2px;
  background: var(--primary-color) !important;
  color: white !important;
  letter-spacing: 1.5px;
}