@import "@styles/mixin";

.footer
{
  width: 100%;
  padding: 10px 20px;
  background: var(--primary-color);
  display: flex;
}

.footer__content
{
  width: 90%;
  margin: auto;

  @include respond-to(pad)
  {
    width: 85%;
  }

  @include respond-to(desktop)
  {
    width: 80%;
  }
}

.footer__contactWrap
{
  width: 30%;
  margin: auto;
  color: white;
  gap: 10px;
  align-items: center;
  margin-right: auto;




}

.footer__contact
{
  display: flex;
  flex-direction: column;

}


.footer__report
{
  font-size: 11px;
}

.footer__contactMe
{
  font-size: 11px;
}

.footer__warningWrap
{
  flex-direction: column;
  width: 70%;
  color: white;
  font-size: 11px;
}