@import "@styles/mixin";

.topFilter
{
  flex-direction: column;
}

.topFilter__filter
{
  width: 100%;
  background: var(--secondary-color);
  padding: 8px;
  justify-content: center;
  border-top: 3.5px solid var(--primary-color);

}

.topFilter__filterContent
{
  width: 100%;
  justify-content: center;
}

.topFilter__filterIcon
{
  font-size: 28px;
}

.topFilter__filterButton
{
  letter-spacing: 1.5px;
  font-size: 14px;
  color: var(--primary-color) !important;

  &:hover
  {
    color: white !important;
    background: var(--primary-color) !important;
  }


}

.topFilter__kindFilterWrap
{
  justify-content: space-between;
}

.topFilter__button
{
  letter-spacing: 1.5px;
  font-size: 14px;
  color: var(--primary-color) !important;
  background: var(--secondary-color) !important;

  &:hover
  {
    color: white !important;
    background: var(--primary-color) !important;
  }

  &:hover img
  {
    filter: var(--white-filter);
  }

}

.topFilter__button--is-activated
{
  text-decoration: underline dotted;
}