@import "@styles/mixin";

.container
{
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.petSection
{
  margin: auto;
  justify-items: center;
  min-height: 80vh;
  max-width: 85%;
  gap: 12px;
  justify-content: space-around;

  @include respond-to(pad)
  {
    max-width: 80%;
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(desktop)
  {
    max-width: 75%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}