@import "@styles/mixin";

.petSection
{
  margin: auto;
  justify-items: center;
  max-width: 85%;
  gap: 12px;

  @include respond-to(pad)
  {
    max-width: 80%;
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(desktop)
  {
    max-width: 75%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}