.nav
{
  flex-direction: column;
}

.nav__iconContent
{
  width: 100%;
  padding: 8px;
  align-items: center;
  color: var(--primary-color);
  gap: 10px;
}

.nav__title
{
  font-weight: bold;
  font-size: 24px;
}