@import "./reset";

:root
{
  --primary-color: #7B6BBC;
  --secondary-color: #f2f0f9;
  --background-color: #F4F7FE;
}


// *
// {
//   outline: 1px solid red;
// }

.primary-btn
{
  letter-spacing: 1.5px;
  color: white !important;
  background: var(--primary-color) !important;

  &:hover
  {
    opacity: 0.8 !important;
  }

  &:focus-visible
  {
    box-shadow: none;
  }
}