@import "./reset";

:root
{
  --primary-color: #7B6BBC;
  --secondary-color: #f2f0f9;
  --background-color: #F4F7FE;
}

body
{
  background: var(--background-color) !important;
}

// *
// {
//   outline: 1px solid red;
// }